# version: "3.9"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - ./data:/data
    command: server /data --console-address ":9001"

  api:
    build: .
    container_name: api
    depends_on:
      - minio
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      MINIO_ENDPOINT: "minio:9000"
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "admin123"
